body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1rem;
}

#main-menu {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.menu-title {
    background-color: #2980b9;
    color: white;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 5px;
}

.menu-content {
    display: none;
    background-color: white;
    padding: 10px;
}

.menu-content.active {
    display: block;
}

.menu-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #3498db;
    border-bottom: 1px solid #ecf0f1;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #2c3e50;
    color: white;
}

.icon {
    width: 18px;
    height: 18px;
    fill: none; /* Most icons use stroke */
    stroke: currentColor; /* This allows the icon to inherit text color */
  }